<div class="card-weather">
    <!-- Name -->
    <h2 class="card-weather__name"><%= weather.State %></h2>
    <!-- Title -->
    <span class="card-weather__title">Temp <%= weather.Temperature %>° </span>
    <span class="card-weather__title">Humidity <%= weather.Humidity %> </span>
    <span class="card-weather__title">Station Pressure <%= weather['Station Pressure'] %> </span>
    <span class="card-weather__title">Sea Level Pressure <%= weather['Sea Level Pressure'] %></span>
</div>
